body{
    padding-left:50px;
    width: 1028px;
}

nav{
    margin-top: 20px;
    font-family: "Lucida Console";
    font-size: 15px;
}

header{
    margin-left: 20px;
    font-family: Arial Black;
    color: #0070A8;
}


article{
    min-height: 400px; 
    width: 100%; 
    margin-top: 20px;
    overflow:auto;
}

footer{
    text-align: center; 
    font-size: 10px; 
    margin-top: 50px;
}

.title{
  font-size: 30px;
  font-family: "Comic Sans MS";
}

.words{
  line-height: 30px;
  font-size: 15px;
  font-family: "Lucida Console";
}

.stream{
    width: 200px;
}

.stream .image_field{
    width: 100%;
    height: 200px;
    position: relative;
}

.stream img{
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.stream a{
    color: inherit;
}

.stream a:hover{
    text-decoration: none;
    color: inherit;
}

.stream p{
    overflow: hidden;
    text-overflow: ellipsis;
}


.stream .stream_name{
    font-size: 16px;
    font-family: "Comic Sans MS";
}

.jumbotron{
    padding: 20px 30px;
    border-radius: 20px;
}

.jumbotron p{
    line-height: 50px;
}

