body{
    padding-left:50px;
    width: 1028px;
}

header{
    margin-left: 20px;
    font-family: Arial Black;
    color: #0070A8;
}


article{
    min-height: 400px; 
    width: 100%; 
    margin-top: 20px;
    overflow:auto;
}

footer{
    text-align: center; 
    font-size: 10px; 
    margin-top: 50px;
}

.title{
  font-size: 30px;
  font-family: "Comic Sans MS";
}

.words{
  line-height: 30px;
  font-size: 15px;
  font-family: "Lucida Console";
}

.stream{
  position: relative;
  max-width: 200px;
}

.stream img{
  max-width: 200px;
  max-height: 200px;
}

.stream .stream_name{
  position: absolute;
  top: 10px;
  background:rgba(0, 0, 0, 0.3);
  color:white;
  padding: 3% 10%;
  font-size: 16px;
  font-family: "Comic Sans MS";
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.stream .extra_words{
  line-height: 20px;
  text-align:center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jumbotron{
    padding: 20px 30px;
    border-radius: 20px;
}

.jumbotron p{
    line-height: 50px;
}
