#create_title{
    margin-left: 30px;
}

.substitle{
    font-size: 20px;
}

form{
    margin-top:10px;
}

fieldset{
    padding: 30px;
}

#left{
    width: 50%; 
    float: left;
}

#right{
    margin-top: 30px; 
}

#form-create textarea{
    width: 400px;
    height: 100px;
}

#form-create input[type="text"]{
    width: 300px;
}