.stream_manage .cover_img{
    max-height: 60px;
    max-width: 60px;
}

.stream_manage .cover{
    width: 100px;
    text-align: center;
}

.stream_manage .name{
    width: 200px;
    text-align: left;
}

.stream_manage .name_words{
    max-width:200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream_manage .last_new{
    width: 150px;
    text-align: center;
}

.stream_manage .no_of_pic{
    width: 150px;
    text-align: center;
}

.stream_manage .views{
    width: 150px;
    text-align: center;
}

.stream_manage .delete{
    width: 150px;
    text-align:center;
}

.stream_manage td{
    line-height: 20px;
    height: 60px;
}

.manage_title{
    margin-left: 30px;
}

.manage_words{
    margin-left: 20px;
}

.manage_button{
    margin-top:20px;
    margin-left:30px;
}

#subscribe_container{
    margin-top: 30px; 
    border-top: thin solid #767676;
}