.left{
    width: 80%;
    float:left;
}

#trending_title{
    margin-left: 30px;
}


.right{
    float:left;
    margin-left: 5%;
    margin-top: 20px;
    width: 15%;
}

.digest_hint{
    font-family: "Lucida Console";
}

input[type="radio"]{
    margin-top: 10px;
}

.trending_button{
    margin-top: 20px;
}