#view_stream_title{
    margin-left: 30px; 
    font-size: 30px;
}

#stream_info_container{
    overflow: auto;
}

#stream_info_cover{
    max-width:200px; 
    max-height:200px; 
    float:left;
}

#stream_info_table{
    float: left; 
    margin-left: 150px
}

#stream_info_table td{
    height: 30px;
}

#stream_info_table .c1{
    width: 220px;
}

#stream_info_table .c2{
    width: 400px;
    text-align: center;
}

#tag_row{
    height: 80px;
}

#tag_content{
    word-wrap:break-word; 
    max-width:80px;
}

#images_div{
    border-top: thin solid #767676; 
    margin-top:10px; 
    padding-top:10px; 
    padding-bottom:10px;
}

.image_container{
    padding:20px;
    width:300px;
}

.image{
    max-height:300px;
    max-width:300px;
}

#button_div{
    overflow:auto; 
    padding:10px
}

#prev_page{
    text-decoration: none;
    float:left;
}

#next_page{
    text-decoration: none;
    float:right;
}

#view_stream_words{
    margin-left: 20px; 
    margin-top: 50px;
}

#upload_div{
    margin:20px;
}


#upload_words{
    margin-left:80px;
}

.progree_td{
    width: 200px;
    text-align: left;
    padding-left: 15px;
}

.progress_bar_container{
    display: inline-block;
    width: 170px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 5px;
}

.progress_bar{
    border-radius: 5px;
    height: 100%;
    width: 0px;
}

.preview_image_td{
    width: 100px;
    height: 100px;
}

.preview_image{
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}

.file_info_td{
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: Arial;
}

.file_info{
    display: inline-block;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bt_td{
    width: 100px;
    text-align: center;
}

.file_preview{
    height: 100px;
}

.uploading_sign{
    max-width: 30px;
    max-height: 30px;
}

