#view_stream_title{
    margin-left: 30px; 
    font-size: 30px;
}

#stream_info_container{
    overflow: auto;
}

#stream_info_cover{
    max-width:200px; 
    max-height:200px; 
    float:left;
}

#stream_info_table{
    float: left; 
    margin-left: 150px
}

#stream_info_table td{
    height: 30px;
}

#stream_info_table .c1{
    width: 220px;
}

#stream_info_table .c2{
    width: 400px;
    text-align: center;
}

#tag_row{
    height: 80px;
}

#tag_content{
    word-wrap:break-word; 
    max-width:80px;
}

#images_div{
    border-top: thin solid #767676; 
    margin-top:10px; 
    padding-top:10px; 
    padding-bottom:10px;
}

#button_div{
    overflow:auto;
    padding:10px
}

#geo_view_button{
    float:right;
}

#view_stream_words{
    height: 100%;
    width: 100%;
    display: table;
}

#view_stream_words p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#upload_div{
    margin:20px;
}


#upload_words{
    margin-left:80px;
}

.progree_td{
    width: 200px;
    text-align: left;
    padding-left: 15px;
}

.progress_bar_container{
    display: inline-block;
    width: 170px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 5px;
}

.progress_bar{
    border-radius: 5px;
    height: 100%;
    width: 0px;
}

.preview_image_td{
    width: 100px;
    height: 100px;
}

.preview_image{
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
}

.file_info_td{
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: Arial;
}

.file_info{
    display: inline-block;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bt_td{
    width: 100px;
    text-align: center;
}

.file_preview{
    height: 100px;
}

.uploading_sign{
    max-width: 30px;
    max-height: 30px;
}

#slider_container{
    border: medium solid #767676;
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
    background-image: url("/assets/images/slider_background.jpg");
    background-size: 100% 100%;
    height: 380px;
}

.slider{
    position: relative;
    overflow: hidden;
}

.slider li {
    list-style: none;
    width:300px;
    height: 380px;
    display: inline-block;
}

.slider li td, .slider li tr,.slider li table{
    width: 100%;
    height: 100%;
}

.slider img{
    border-radius: 10px;
    max-height: 280px;
    max-width: 280px;
    border: thin solid #ffe3ad;
}

.slider .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    text-align: center;
}

.slider .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.slider .dots li.active {
    background: #fff;
    opacity: 1;
}

#map{
    width: 1024px;
    height: 512px;
}

.map_popout_img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}