{% extends "base.html" %}

{% block title %}
    Connexus-view stream
{% endblock %}

{% block content %}
   <table>  
       <tr>
	   {% for img_url in images %}
	       <td><img src="{{img_url}}" height="200px" width="200px"></td>
	   {% endfor %} 
	   </tr>
   </table>
   {% if upload_url %}
   <form action="{{upload_url}}" method="post" enctype="multipart/form-data">
   		<input type="file" name="img"/>
		<input type="text" name="name" spellcheck="true">
		<input type="text" name="comments" spellcheck="true">
		<input type="submit" name="submit" value="Submit"/>
   </form>
   {% endif %}
{% endblock %}