<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="..\assets\StyleSheets\base_style.css" />
	<link rel="stylesheet" href="..\assets\StyleSheets\{% block css %}{% endblock %}" />
</head>
<body>
    <header>
        <h1>Connexus.us</h1>
    </header>
    <nav>
        <table>
            <tr>
                <td><a href="{{ management_addr }}">Manage</a></td>
                <td><a href="{{ create_stream_addr }}">Create</a></td>
                <td><a href="{{ view_all_streams_addr }}">View</a></td>
                <td><a href="{{ search_stream_addr }}">Search</a></td>
                <td><a href="{{ trending_streams_addr }}">Trending</a></td>
                <td><a href=" ">Social</a></td>
				<td><a href="{{ log_out_addr }}">Log out</a>
            </tr>
        </table>
    </nav>
    <article>
		{% block content %}{% endblock %}
    </article>
    <footer>
        <p>Powered by Zijiang Yang @ The University of Texas at Austin, 2015 Fall</p>
        <p>Copyright reserved</p>
    </footer>
</body>
</html>
{% endautoescape %}