{% extends "base.html" %}

{% block title %}
    Connexus-trending streams
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/StyleSheets/trending_streams.css" />
<link rel="stylesheet" href="/assets/Tools/toastr/toastr.min.css" />
{% endblock %}

{% block scripts %}
<script src="/assets/Tools/toastr/toastr.min.js" defer></script>
<script src="/assets/javascripts/trending_stream.js" defer></script>
{% endblock %}

{% block content %}
    <div class="left"> 
        {% if trendingStreams|len > 0 %}
            <p class="title" id="trending_title">Top {{trendingStreams|len}} Trending Streams</p>
    		<div class="container-fluid">
				<div class="row">
                {% for stream, views in trendingStreams %}
					<div class="col-xs-6 col-md-4">
                		<div class="stream thumbnail">
                            <a href="{{view_stream_addr+'/?'+({'id':stream.key.id()|str}|urlencode)}}">
								<div class="image_field well">
                            		<img src="{{stream.coverImageUrl}}">
								</div>
								<p>
									<span class="stream_name oneline">{{stream.name}}</span>
									<span class="owner oneline">by <span class="italic">{{stream.user}}</span></span>
								</p>
								<p class="text-info oneline">
									Total {{stream.pic_num}} pictures - {{stream.viewCount}} views
									<br><b>{{views}}</b> views in past hour
								</p>
                            </a>
                		</div>
					</div>
                {% endfor %}
				</div>
    		</div>
        {% else %}
		<div class="jumbotron">
			<p class="words">There is no trending stream data now!</p>
		</div>
        {% endif %}
	</div>
	<div class="right">
		<p class="text-info digest_hint">Choose your email digest frequency</p>
    	<form method="post">
    		  <input type="radio" name="update_frequency" value="no_reports" {{'checked' if email_setting=='no_reports' else ''}}/>
    		  No reports<br/>
    		  <input type="radio" name="update_frequency" value="every_5_minutes" {{'checked' if email_setting=='every_5_minutes' else ''}}/>
    		  Every 5 minutes<br/>
    		  <input type="radio" name="update_frequency" value="every_1_hour" {{'checked' if email_setting=='every_1_hour' else ''}}/>
    		  Every 1 hour<br/>
    		  <input type="radio" name="update_frequency" value="every_day" {{'checked' if email_setting=='every_day' else ''}}/>
    		  Every day
    	</form>
		<button class="btn btn-primary trending_button">Update rate</button>
	</div>
{% endblock %}