{% extends "base.html" %}

{% block title %}
    Connexus-trending streams
{% endblock %}

{% block content %}
    <div style="width: 70%; float:left;"> 
        {% if trendingStreams|len > 0 %}
            <p class="title">Top {{trendingStreams|len}} Trending Streams</p>
    		{% set i = 0 %}
    		<table>
                {% for stream, views in trendingStreams %}
            		{% if i == 0 %}
            		   <tr>
            		{% endif %}
					<td valign="middle" align="center" style="padding: 20px">
                		<div class="stream">
                            <a href="{{view_stream_addr+'/?'+({'id':stream.key.id()|str}|urlencode)}}">
                            	<img src="{{stream.coverImageUrl}}" class="stream_cover">
                				<p id="stream_name">{{stream.name}}</p>
                            </a>
                        	<p id="extra_words" class="words">{{stream.user}}
                			    <br>Total {{stream.viewCount}} views
                			    <br><b>{{views}}</b> views<br>in past hour</p>
                		</div>
					</td>
					{% set i = i+1 %}
				    {% if i == 3 %}
					   </tr>
					   {% set i=0 %}
					{% endif %}
                {% endfor %}
    		</table>
        {% else %}
            <p class="words">There is no trending stream data now!</p>
        {% endif %}
	</div>
	<div style="float:left; margin-left:50px">
    	<form method="post">
    		  <input type="radio" name="update_frequency" value="no_reports" {{'checked' if email_setting=='no_reports' else ''}} style="margin-top:30px"/>
    		  No reports<br/>
    		  <input type="radio" name="update_frequency" value="every_5_minutes" {{'checked' if email_setting=='every_5_minutes' else ''}} style="margin-top:10px"/>
    		  Every 5 minutes<br/>
    		  <input type="radio" name="update_frequency" value="every_1_hour" {{'checked' if email_setting=='every_1_hour' else ''}} style="margin-top:10px"/>
    		  Every 1 hour<br/>
    		  <input type="radio" name="update_frequency" value="every_day" {{'checked' if email_setting=='every_day' else ''}} style="margin-top:10px"/>
    		  Every day<br/>
    		  <input class="button" type="submit" name="update_rate" value="Update rate" style="margin-top:20px" />
    	</form>
	</div>
{% endblock %}