{% extends "base.html" %}

{% block title %}
    Connexus-view all streams
{% endblock %}

{% block content %}
<p class="title" style="margin-left: 30px">View All Streams<br></p>
   {% if streams.fetch()|len >0 %}
   <table>
   	   {% set i = 0 %}
       {% for stream in streams %}
	   	  	{% if i == 0 %}
			   <tr>
			{% endif %}
			<td valign="middle" align="center" style="padding:20px">
        		<div class="stream">
                	 <a href="{{view_stream_addr+'/?'+({'id':stream.key.id()|str}|urlencode)}}">
                	 	<img src="{{stream.coverImageUrl}}" class="stream_cover">
    					<p id="stream_name">{{stream.name}}</p>
               		 </a>
    			</div>
			</td>
    	   {% set i = i+1 %}
    	   {% if i == 4 %}
    	   	  {% set i = 0 %}
			  </tr>
    	   {% endif %}
       {% endfor %}
   </table>
   {% else %}
	   <p class="words" style="margin-left: 20px;">Oops! You do not have any streams!<br>
		  Click <a href="{{create_stream_addr}}">here</a> to create your first stream and start your trip in Connexus!</p>
   {% endif %}
{% endblock %}