{% extends "base.html" %}

{% block title %}
    Connexus-view all streams
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/StyleSheets/view_all_streams.css" />
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<p class="title" id="view_all_streams_titile">View All Streams<br></p>
   {% if streams.fetch()|len >0 %}
	<div class="container-fluid">
		<div class="row">
			{% for stream in streams %}
			<div class="col-xs-6 col-md-3">
				<div class="stream thumbnail">
					<a href="{{view_stream_addr+'/?'+({'id':stream.key.id()|str}|urlencode)}}">
						<div class="image_field well">
							<img src="{{stream.coverImageUrl}}">
						</div>
						<p>
							<span class="stream_name oneline">{{stream.name}}</span>
							<span class="owner oneline">by <span class="italic">{{stream.user}}</span></span>
						</p>
						<p class="text-info oneline">
							Total {{stream.pic_num}} pictures - {{stream.viewCount}} views
						</p>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
   {% else %}
		<div class="jumbotron">
			<p class="words">Oops! You do not have any streams!<br>
				Click <a href="{{create_stream_addr}}">here</a> to create your first stream and start your trip in Connexus!</p>
		</div>
   {% endif %}
{% endblock %}