{% extends "base.html" %}

{% block title %}
Connexus-view stream
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/StyleSheets/view_stream.css" />
<link rel="stylesheet" href="/assets/Tools/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/Tools/lightGallery/css/lightgallery.min.css" />
<link rel="stylesheet" href="/assets/Tools/jquery-ui/jquery-ui.min.css" />
{% endblock %}

{% block scripts %}
{% if is_owner %}
<script src="/assets/javascripts/fileUploader/dropzone.js" defer></script>
<script src="/assets/javascripts/fileUploader/Queue.js" defer></script>
<script src="/assets/javascripts/fileUploader/main.js" defer></script>
{% endif %}
<script src="/assets/Tools/lightGallery/js/lightgallery.min.js" defer></script>
<script src="/assets/Tools/lightGallery/js/jquery.mousewheel.min.js" defer></script>
<script src="/assets/Tools/lightGallery/js/lg-thumbnail.min.js" defer></script>
<script src="/assets/Tools/lightGallery/js/lg-fullscreen.js" defer></script>
<script src="/assets/Tools/lightGallery/js/lg-zoom.js" defer></script>
<script src="/assets/javascripts/jquery.event.move.js" defer></script>
<script src="/assets/javascripts/jquery.event.swipe.js" defer></script>
<script src="/assets/javascripts/unslider.js" defer></script>
<script src="/assets/javascripts/ICanHaz.js" defer></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="/assets/javascripts/jquery.ui.map.full.min.js" defer></script>
<script src="/assets/javascripts/markerclusterer.min.js" defer></script>
<script src="/assets/javascripts/oms.min.js" defer></script>
<script src="/assets/javascripts/jquery.popupoverlay.js" defer></script>
<script src="/assets/Tools/jquery-ui/jquery-ui.min.js" defer></script>
<script src="/assets/javascripts/view_stream.js" defer></script>
{% raw %}
<script type="text/html" id="image_template">
	<li class="new_added_image" hidden>
		<table><tr><td align="center" valign="middle"><a class="gallery_item" href="{{url}}"><img src="{{url}}"></a></td></tr></table>
	</li>
</script>
<script type="text/html" id="slider_template">
	<div class="slider light_gallery">
		<ul>
			<li class="new_added_image" hidden>
				<table><tr><td align="center" valign="middle"><a class="gallery_item" href="{{url}}"><img src="{{url}}"></a></td></tr></table>
			</li>
		</ul>
	</div>
</script>
{% endraw %}
{% endblock %}

{% block content %}
<h2 class="title" id="view_stream_title">{{stream.name}}</h2>
<div id="stream_info_container">
	<img id="stream_info_cover" src="{{stream.coverImageUrl}}" />
	<table id="stream_info_table" class="words">
		<tr>
			<td class="c1"><b>Owner:</b></td>
			<td class="c2">{{stream.user}}</td>
		</tr>
		<tr>
			<td class="c1"><b>Number of Pictures:</b></td>
			<td class="c2" id="pic_num">{{stream.pic_num}}</td>
		</tr>
		<tr>
			<td class="c1"><b>Number of Subscribers:</b></td>
			<td class="c2">{{stream.subscribers|len}}</td>
		</tr>
		<tr>
			<td class="c1"><b>Views:</b></td>
			<td class="c2">{{stream.viewCount}}</td>
		</tr>
		<tr id="tag_row">
			<td class="c1" valign="top"><b>Tags:</b></td>
			<td class="c2" id="tag_content" valign="top">{{stream.tag if stream.tag and stream.tag|len > 0 else "N/A"}}</td>
		</tr>
	</table>
</div>
<div id="images_div">
	<div id="slider_container">
		{% if images|len > 0 %}
		<div class="slider light_gallery">
			<ul>
				{% for i in range(images|len) %}
				<li>
					<table><tr><td align="center" valign="middle"><a class="gallery_item" href="{{images[i]}}"><img src="{{images[i]}}"></a></td></tr></table>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<div id="view_stream_words">
			<p class="title">
				{% if is_owner %}
				Oops! This stream does not have any pictures!<br>
				Try to add some pictures to enrich your stream!
				{% else %}
				Oops! This stream does not have any pictures!<br>
				Click <a href="{{trending_streams_addr}}">here</a> to find other trending streams,<br>
				or click <a href="{{search_stream_addr}}">here</a> to search for other interesting streams!
				{% endif %}
			</p>
		</div>
		{% endif %}
	</div>
	<div id="button_div"><button class="button" id="geo_view_button">Geo view</button></div>
</div>
<div id="upload_div">
	{% if is_owner %}
	<p class="title" id="upload_words">Add Images</p>
	<button class="button" id="bt_choose_files">Select Images</button>
	<button class="button" id="bt_upload_all">Upload All</button>
	<button class="button" id="bt_cancel_all">Cancel All</button>
	<table id="preview_table"></table>
	{% else %}
	<form method="post">
		<input class="button" type="submit" name="subscribe" value={{"Subscribe" if not subscribed else "Unsubscribe"}} />
		<input type="hidden" name="id" value="{{id}}" />
	</form>
	{% endif %}
</div>
<div id="geo_view">
	<div id="map"></div>
	<div id="timeline_container">
		<div id="start"><span class="timeline_words">Oct 8, 2015</span></div>
		<div id="timeline"></div>
		<div id="end"><span class="timeline_words">Oct 9, 2015</span></div>
	</div>
</div>
{% endblock %}